TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
SESSION_DRIVER=cookie
LIMITER_STORE=database
SMTP_HOST=
SMTP_PORT=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DRIVE_DISK=r2
R2_KEY=
R2_SECRET=
R2_BUCKET=
R2_ENDPOINT=